@import 'variables';
@import 'typography';


*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: $main-font;
}

body{
	background-color: $Off-white;
	width: 80%;
	height: 100vh;
	margin: 0 auto;
	align-items: center;
	padding-top: 20px;
}

main{
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
}
