header{
	width: 100%;
	margin: 10px auto;
	@include flex(space-between);

	#logo{
		margin-left: 1px;

		img{
			width: 5rem;
			height: 5rem;
		}
	}

	#navbar{
		@include boxing(40%);
		margin-right: 1px;

		ul{
			@include flex(space-around);

			li{
				font-size: 1.2rem;
				list-style: none;
			}

			li:hover{
				color: $Soft-orange;
			}
		}
	}
}