#home{
	width: 68%;
	margin-right: 1px;
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;

	.image{
		width: 100%;
		height: auto;

		img{
			width: 100%;
			object-fit: cover;
		}
	}

	h1{
		color: $Very-dark-blue;
		width: 30%;
		height: auto;
		text-align: left;
		font-weight: 800;
		line-height: 2.8rem;
		font-size: 3rem;
		margin-top: 20px;
	}

	.paragraph{
		width: 50%;
		height: auto;
		text-align: left;
		margin-top: 20px;
		display: block;
		justify-content: space-between;

		p{
			color: $Dark-grayish-blue;
			font-size: 1.1rem;
			padding-bottom: 10px;
			margin: 5px auto;
		}

		.btn{
			width: 50%;
			margin-left: 1px;
			padding: 10px;
			background-color: $Very-dark-blue;
			color: $Off-white;
			font-size: 0.9rem;
			letter-spacing: 3px;
			font-weight: 600;
			text-align: center;
			border: 0;
		}

		.btn:hover{
			background-color: $Soft-red;
			cursor: pointer;
		}
	}
}