#new{
	width: 30%;
	margin-left: 1px;
	background-color: $Very-dark-blue;

	h1{
		font-size: 2.5rem;
		padding: 10px;
		color: $Soft-orange;
	}

	.card1{
		@include boxing(95%);
		color: $Off-white;

		a{
			font-size: 1.4rem;
			text-decoration: none;
			padding: 5px;
			margin: 5px auto;
			font-weight: 700;
			color: $Off-white;
		}

		a:hover{
			color: $Soft-orange;
			cursor: pointer;
		}

		p{
			color: $Grayish-blue;
			font-size: 1.1rem;
			padding: 5px;
			margin: 5px auto;
		}
	}

	hr{
		width: 95%;
		height: 1px;
		border: 0;
		margin: 10px auto;
		background-color: $Dark-grayish-blue
	}
}